---
import About from "../../components/about/About.astro";
import Contact from "../../components/contact/Contact.astro";
import Footer from "../../components/Footer.astro";
import Jobs from "../../components/jobs/Jobs.astro";
import Header from "../../components/navBar/Header.astro";
import Presentation from "../../components/Presentation.astro";
import Projects from "../../components/projects/Projects.astro";
import { supportedLocales } from "../../i18n/config";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const paths = supportedLocales.map((locale) => {
    return { params: { locale } };
  });

  return paths;
}
---

<div class="dark:bg-slate-900">
  <Layout title="Portfolio.">
    <Header />
    <main class="px-6 h-full lg:container mx-auto space-y-10">
      <Presentation />
      <About />
      <Projects />
      <Jobs />
      <Contact />
    </main>
    <Footer />
  </Layout>
</div>
