---
import { getTranslations } from "../../i18n/utils";

const { locale } = Astro.params;
const t = getTranslations(locale ?? "en");
---

<div class="flex flex-col justify-center items-center">
  <h1 class="font-elMessiri text-5xl mb-3">
    {t.about.education.title}
  </h1>
  <ul class="list-disc pl-6">
    <li>
      {t.about.education.degree}
      <span class="underline pl-2">{t.about.education.university}</span>
    </li>
  </ul>
</div>
